body {
  background: #eee !important;
}
.wrapper {
  margin-top: 200px;
  margin-bottom: 80px;
}
.form-signin {
  text-align: center;
  max-width: 380px;
  padding: 25px 15px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.form-signin a {
  margin-left: -30px;
}
.text {
  padding-left: 90px;
  text-align: left;
}
input {
  border: 1px solid rgba(0,0,0,0.1);
}
.name1{
  margin-left: 60px;
}
.name2{
  margin-left: 30px;
}





